@import 'var';
@import 'reset';

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: $white;
  font-family: $fontcourant;
  background-color: $black;
}
* {
  color: white
}
ul {
  position: fixed;
  list-style: none;
  z-index: 1000000;
  li {
    display: inline-block;
    margin: 0 30px;
  }
}
.muteButton {
  position: fixed;
  top: 20px;
  left: 48.5%;
  cursor: pointer;
  z-index: 1000;
}
.scrollingButton {
  position: fixed;
  bottom: 20px;
  left: 5%;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(0);
  animation: bounce 2s ease infinite alternate;
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
  @include querymobil(300px, 1024px) { display: none;};
}
.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $black;
  display: none;
  opacity: 0;
  transition: all $materialtrans 0.5s;
  @include querymobil(300px, 1024px) { flex-direction: column; width: 100%; height: 100%;};
  &--item {
    position: relative;
    width: 30%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    @include querymobil(300px, 1024px) { width: 100%;};
    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      opacity: 0.3;
      transition: all $materialtrans 0.5s;
      @include querymobil(300px, 1024px) { width: 100%;};
    }
    &--content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include querymobil(300px, 1024px) { height: 30vh;};
      &--number {
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        border: 4px solid $yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include querymobil(300px, 1024px) { border: 1px solid $yellow;};
        &--content {
          font-size: 3vw;
          font-family: $fonttitle;
        }
      }
      a {
        font-size: $sizecourant;
        margin-top: 30px;
        text-align: center;
        width: 80%;
        line-height: 1.5em;
        font-weight: $bold;
        @include querymobil(300px, 1024px) { font-size: 1em;};
      }
    }
    &:hover {
      .menu--item--bg {
        opacity: 1;
        transition: all $materialtrans 0.5s;
      }
    }
  }
  .closeNav {
    position: fixed;
    top: 20px;
    left: 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    &--button {
      cursor: pointer;
    }
    &--social {
      width: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include querymobil(300px, 1024px) { width: 20%;};
      cursor: pointer;
    }
  }
}

.openNav {
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  &--button {
    cursor: pointer;
  }
  &--social {
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include querymobil(300px, 1024px) { width: 20%;};
    cursor: pointer;
  }
}

.buttonSlide {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 100px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  @include querymobil(300px, 1024px) { display: flex;};
  @include querymobilB(300px, 1024px) { height: 70px;};
  &--button {
    cursor: pointer;
  }
}

// @media (orientation: landscape) {
//     html{
//         -webkit-transform: rotate(-90deg);
//            -moz-transform: rotate(-90deg);
//             -ms-transform: rotate(-90deg);
//              -o-transform: rotate(-90deg);
//                 transform: rotate(-90deg);
//         -webkit-transform-origin: left top;
//            -moz-transform-origin: left top;
//             -ms-transform-origin: left top;
//              -o-transform-origin: left top;
//                 transform-origin: left top;
//         width: 100vh; /*this is the iPhone screen width.*/
//         height: 100vw;
//         position: absolute;
//         top: 100%;
//         left: 0
//     }
// }
